body {
    font-family: "NanumSquareNeo", sans-serif;
    background-color: #fff;
}

section {
    position: relative;
    min-height: 100vh;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

.cursor {
    position: fixed;
    left: -6px;
    top: -6px;
    z-index: 10000;
    width: 12px;
    height: 12px;
    background-color: #f0f0f0;
    mix-blend-mode: exclusion;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;

    &.hover {
        left: -32px;
        top: -32px;
        width: 64px;
        height: 64px;
        opacity: 0.25;
    }
}
