$desktop: 1600;
$laptop: 1280;
$tablet: 1024;
$mobile: 640;

@mixin mq_desktop {
    @media (max-width: #{$desktop}px) {
        @content;
    }
}

@mixin mq_laptop {
    @media (max-width: #{$laptop}px) {
        @content;
    }
}

@mixin mq_tablet {
    @media (max-width: #{$tablet}px) {
        @content;
    }
}

@mixin mq_mobile {
    @media (max-width: #{$mobile}px) {
        @content;
    }
}
