@use '@styles/helpers' as *;

.bracket {
    display: flex;
    align-items: center;
    padding-bottom: rem-convert(20);
    gap: rem-convert(12);
    font-family: var(--key-font), sans-serif;
    font-size: rem-convert(40);
    font-variation-settings: "HGHT" 1000, "wdth" 400;
    letter-spacing: 0.01em;
    overflow: hidden;

    h2 {
        white-space: nowrap;
        transition: font-variation-settings 0.3s;

        &:hover {
            font-variation-settings: "HGHT" 1000, "wdth" 700;
        }
    }

    svg {
        width: 0.4em;
        height: 2em;
    }
}
