@use "../helpers/" as *;

.about {
    @include section;

    &__container {
        @include container;
    }

    &__title {
        @include title(about);
    }

    &__title-rotate-wrap {
        border-right: 0.1em solid $c-black;
    }

    &__info-list {
        display: flex;
        padding-bottom: rem(16px);
    }

    &__info-item {
        display: flex;
        align-items: center;

        &:not(:last-child)::after {
            content: "";
            display: block;
            width: 1px;
            height: 0.75em;
            margin: 0 0.4em;
            background-color: $c-black;
        }
    }

    &__text {
        padding-bottom: rem(8px);
    }
}
