@mixin button($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;

    @if ($color == black) {
        background-color: black;
        color: white;
    } @else if($color == white) {
        background-color: white;
        color: black;
    }
}
