.work {
    z-index: 0;
    padding: 72px 32px;
}

.title {
    position: fixed;
    left: 0;
    top: 20%;
    color: var(--white);
    opacity: 0.3;
    text-align: center;
    width: 100%;
    letter-spacing: 0.01em;
    font-family: var(--key-font), sans-serif;
    font-size: clamp(128px, 8vw, 256px);
    font-variation-settings: "HGHT" 1000, "wdth" 400;
    pointer-events: none;
}

.work {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 90%;
        gap: 12px;
        margin: 0 auto;
    }

    &__item {
        position: relative;
        width: clamp(160px, 20vw, 320px);

        &:nth-child(4n + 1) {
            left: max(-13.375vw, -214px);
        }

        &:nth-child(4n + 2) {
            left: min(23.125vw, 370px);
        }

        &:nth-child(4n + 3) {
            left: max(-23.625vw, -378px);
        }

        &:nth-child(4n + 4) {
            left: min(18vw, 288px);
        }

        &::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--gray);
            content: "";
        }

        &::before {
            left: 24px;
            top: 24px;
        }
    }
}
