@use '@styles/helpers' as *;

.work {
    z-index: 0;
    position: relative;
    padding: rem-convert(144) rem-convert(32);

    &::after,
    &::before {
        z-index: 1;
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: rem-convert(96);
        content: "";
    }

    &::before{
        top: 0;
        background: linear-gradient(
            0,
            rgba(#0a0a0a, 0),
            rgba(#0a0a0a, 0.4) 40%,
            rgba(#0a0a0a, 0.9) 80%,
            var(--color-black)
        );
    }

    &::after{
        bottom: 0;
        background: linear-gradient(
            180deg,
            rgba(#0a0a0a, 0),
            rgba(#0a0a0a, 0.4) 40%,
            rgba(#0a0a0a, 0.9) 80%,
            var(--color-black)
        );
    }
}

.title {
    position: fixed;
    left: 0;
    top: 20%;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    font-family: var(--key-font), sans-serif;
    font-size: rem-convert(240);
    font-variation-settings: "HGHT" 1000, "wdth" 400;
    letter-spacing: 0.01em;
    pointer-events: none;
}

.work {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 90%;
        gap: rem-convert(12);
        margin: 0 auto;

        @include mq_mobile{
            width: 75%;
            gap: rem-convert(48);
            align-items: flex-start;
        }
    }
}
