.blog {
    padding: 72px 32px;
    background-color: var(--black);
}

.post {
    &__list {
    }

    &__item {
        padding: 16px;
        border-top: 1px solid var(--white);
        color: var(--white);

        &:last-child {
            border-bottom: 1px solid var(--white);
        }

        &:hover {
            color: var(--black);
            background-color: var(--white);
        }
    }

    &__link {
    }

    &__title {
        font-size: clamp(14px, 1.75vw, 28px);
        font-weight: 600;
        padding-bottom: 4px;
    }

    &__date {
        font-size: clamp(12px, 1.5vw, 24px);
    }
}
