@use '@styles/helpers' as *;

.blog {
    display: grid;
    align-items: center;
    padding: rem-convert(72) rem-convert(32);
    background-color: var(--color-black);
}

.container {
    width: 100%;
}

.post {
    &__item {
        padding: rem-convert(16);
        border-top: 1px solid var(--color-white);

        &:last-child {
            border-bottom: 1px solid var(--color-white);
        }

        &:hover {
            color: var(--color-black);
            background-color: var(--color-white);
        }
    }

    &__title {
        font-size: rem-convert(28);
        font-weight: var(--weight-semibold);
        padding-bottom: rem-convert(4);
    }

    &__date {
        font-size: rem-convert(24);
    }
}
