@use '@styles/helpers' as *;

.contact {
    display: grid;
    align-items: center;
    padding: rem-convert(72) rem-convert(32);
    background-color: var(--color-black);
}

.container {
    width: 100%;
}

.desc {
    margin-bottom: rem-convert(32);
    font-size: rem-convert(40);
}

.list {
    display: flex;
    gap: rem-convert(12);
}