@use "@styles/helpers" as *;

.contact {
    display: grid;
    align-items: center;
    padding: rem-convert(72) rem-convert(32);
    background-color: var(--color-black);
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.inner {
    position: relative;
    background-color: var(--color-black);
    mix-blend-mode: difference;
}

.desc {
    margin-bottom: rem-convert(32);
    font-size: rem-convert(36);
}

.button {
    display: flex;
    gap: rem-convert(12);
}
