@use "../helpers/" as *;

.aside {
    position: sticky;
    top: 0;
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: $c-primary;
    overflow: hidden;
    @include mobile {
        position: static;
        width: 100%;
        min-height: 50vh;
        height: auto;
    }
}

.profile {
    &__image {
        width: rem(200px);
        height: rem(200px);
        margin-right: 80px;
        border-radius: 50%;
        overflow: hidden;
        @include mobile {
            margin: 0 auto rem(24px);
        }
    }

    &__text {
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(-90deg) translate(50%, -100%);
        transform-origin: top right;
        line-height: 1;
        font-size: 185px;
        font-weight: $fw-bold;
        white-space: nowrap;
        text-align: center;
        -webkit-text-stroke: 1px $c-white;
        -webkit-text-fill-color: transparent;
        @include mobile {
            position: static;
            transform: none;
            font-size: rem(95px);
            white-space: normal;
        }
    }
}
