@use "../helpers/" as *;

.work {
    @include section;

    &__container {
        @include container;
    }

    &__title {
        @include title;
    }

    &__name {
        font-size: rem(32px);
        padding-bottom: rem(4px);
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: rem(4px);
    }

    &__date {
        order: -1;
        color: $c-primary;
    }

    &__button {
        display: inline-block;
        padding: 0.25em 1em;
        margin-top: rem(8px);
        border: 1px solid $c-black;
        transition: $transition;

        &:hover {
            border-color: $c-primary;
            color: $c-white;
            background-color: $c-primary;
        }
    }
}
