.work{
    &__link {
        position: relative;
        display: block;
        padding: 8px;
        background-color: var(--white);
        line-height: normal;
    }

    &__image {
        padding: 8px;
        aspect-ratio: 1 / 1;
    }

    &__title {
        padding: 0 8px 8px;
        font-size: clamp(16px, 2vw, 32px);
        font-weight: 700;
    }

    &__category {
        padding: 0 8px 8px;
        font-size: clamp(10px, 1.25vw, 20px);
    }
}