.company {
    &__swipe {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        &--after {
            color: white;
            background-color: black;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        width: 200px;
        height: 200px;
        border: 2px solid black;

        // [피드백] background-color or border
        // background-color: black;

        &--after {
            background-color: white;
            // border-color: transparent;
        }
    }

    &__image {
        pointer-events: none;
    }
}
