.footer {
    height: 100vh;
    background-color: black;
    overflow: hidden;

    &__container {
        height: 100%;
        display: grid;
        max-width: 1280px;
        margin: 0 auto;
        grid-template-areas:
            "logo content"
            "copyright copyright";
    }

    &__logo {
        grid-area: logo;
        color: white;
        font-size: 148px;
        font-weight: 800;
        display: flex;
    }

    &__content {
        display: grid;
        grid-area: content;
        place-content: end start;
    }

    &__copyright {
        grid-area: copyright;
        color: white;
        display: grid;
        place-content: end center;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 32px;
        color: white;
        padding-bottom: 40px;
    }

    &__button {
        &-list {
            display: grid;
            gap: 12px;
        }

        &-item {
            list-style-type: none;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            color: black;
            text-decoration: none;
            width: 200px;
            height: 48px;
            font-size: 24px;
            border-radius: 100px;
            font-weight: 700;
        }
    }

    &__copyright {
    }
}
