.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    text-align: center;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(3, 200px);
        gap: 8px;
    }

    &__item {
        position: relative;
    }

    &__link {
        position: absolute;
        display: block;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;

        &:not(a) {
            box-shadow: inset rgba(black, 0.1) 0rem 0rem 1rem;
        }

        &:not(span) {
            box-shadow: rgba(black, 0.2) 0rem 0rem 1rem;
        }
    }

    &__image {
        pointer-events: none;
        transition: 0.3s;
    }

    &__link:hover &__image {
        transform: scale(1.2);
    }
}
