.scroll {
    overflow: hidden;
    min-height: unset;

    &__line {
        display: flex;
        flex-wrap: nowrap;
        font-size: 64px;
        font-weight: 700;
        padding: 16px 0;
        gap: 64px;
    }
}
