@use "@styles/helpers" as *;

.about {
    display: grid;
    place-content: center;
    padding: rem-convert(72) rem-convert(32);
    background-color: var(--color-black);
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.desc {
    margin-bottom: rem-convert(32);
    font-size: rem-convert(36);

    div + div {
        padding-top: rem-convert(8);
    }

    span {
        display: inline-flex;
        min-width: rem-convert(12);
    }
}

.button {
    display: flex;
}
