.about {
    display: grid;
    place-content: center;
    padding: 72px 32px;
    background-color: var(--black);
}

.container {
}

.desc {
    color: var(--white);
    font-size: clamp(24px, 3vw, 48px);

    span {
        display: inline-flex;
    }
}
