.main {
    display: grid;
    align-items: center;
    padding: 72px 32px;
    color: var(--white);
    background-color: var(--black);
    overflow: hidden;
}

.container {
    display: grid;
    place-content: center;
}

.title {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    line-height: 1;
    letter-spacing: 0.01em;
    font-family: var(--key-font);
    font-size: clamp(72px, 20vw, 400px);
    font-variation-settings: "HGHT" 1000, "wdth" 400;

    span {
        transition: font-variation-settings 0.3s;

        &:hover {
            font-variation-settings: "HGHT" 400, "wdth" 400;
        }
    }
}

.bracket {
    justify-content: flex-end;
    padding-bottom: 0;
}
