@keyframes first-animation-after {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes first-animation-before {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}

@keyframes mobile-first-animation-after {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes mobile-first-animation-before {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
}
