// COLOR
$c-black: #000;
$c-white: #fff;

$c-dark: #292929;
$c-gray: #bdbdbd;

$c-primary: #fe4902;

// FONT-WEIGHT
$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 900;

// TRANSITION
$transition: 0.3s;
$transition-email: 0.5s;
