.header {
    position: sticky;
    left: 16px;
    top: 16px;
    width: calc(100% - 32px);
    mix-blend-mode: difference;
    backdrop-filter: blur(8px);
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--white);
    border-radius: 8px;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.menu {
    &__list {
        display: flex;
        gap: 8px;
    }

    &__item {
    }

    &__link {
        display: flex;
        width: 32px;
        height: 32px;
    }
}
