.main {
    position: relative;
    background-color: var(--black);

    &::before {
        position: absolute;
        left: 0;
        top: -200px;
        display: block;
        width: 100%;
        height: 200px;
        background: linear-gradient(
            180deg,
            rgba(#0a0a0a, 0),
            rgba(#0a0a0a, 0.4) 40%,
            rgba(#0a0a0a, 0.9) 80%,
            var(--black)
        );
        content: "";
    }
}
