.footer {
    width: 100%;
    height: 60px;
    backdrop-filter: blur(4px);
    padding: 0 24px;
    background-color: var(--header-background);
}

.copyright {
    position: relative;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    &::before {
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        width: 0;
        height: 1px;
        background-color: var(--black);
        transition: 0.3s;
        transform: translateX(-50%);
        content: "";
    }

    .active &::before {
        width: 100%;
    }
}
